<section class="py-5" *ngIf="item | async as single">
  <div class="container">
    <h2 class="pb-1 border-bottom">
      Single User
      <span class="float-right">
        <i class="fas fa-home text-primary" (click)="goToHome()"></i>
      </span>
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <h3>{{ single.name }}</h3>
        <p>Empresa: {{ single.company.name }}</p>
        <p>e-mail: {{ single.email }}</p>
      </div>
    </div>
  </div>
</section>
