<main>
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-8">
          <table mdbTable striped="true" bordered="true" hover="true">
            <thead class="red white-text">
              <tr>
                <th>Empresa</th>
                <th>Nome</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr
                mdbTableCol
                *ngFor="let i of items | async"
                (click)="goToSingle(i.name)"
              >
                <td>{{ i.company.name }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
